/.cisco
/.conda
/.condarc
/.gitconfig
/.hscfg
/.ipynb_checkpoints
/.ipython
/.jupyter
/.matplotlib
/.thinkorswim
/.VirtualBox
/.vscode-insiders
/3D Objects
/address.csv
/anaconda3
/ansel
/AppData
/Apple
/Contacts
/Creative Cloud Files
/Desktop
/Documents
/Downloads
/Favorites
/Links
/MicrosoftEdgeBackups
/Music
/NSRDB.ipynb
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TM.blf
/NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/Pictures
/SAM Downloaded Weather Files
/sample.csv
/SAM_Extract.ipynb
/Saved Games
/Searches
/source
/Unigine_Heaven_Benchmark_4.0_20200509_1209.html
/USA.csv
/Videos
/VirtualBox VMs
/OneDrive
/Application Data
/Cookies
/Local Settings
/My Documents
/NetHood
/PrintHood
/Recent
/Start Menu
/SendTo
/Templates